.card-text a:hover {
color: #00fff2;
transition: 0.4s;
}

.card-text a {
    text-decoration: none;
    color: darkblue;
}

.card-text {
    width: 100%;
}

.bg-primary {
    background-color: darkblue !important;
}